.abmigigous {
  color: red;
}

:local(.local) {
  color: red;
}

:global(.global) {
  color: red;
}

.camelCase {
  color: red;
}

.PascalCase {
  color: red;
}

.kebab-case {
  color: red;
}

.snake_case {
  color: red;
}

.UPPERCASE {
  color: red;
}

.lowercase {
  color: red;
}

.SCREAMING_SNAKE_CASE {
  color: red;
}
